@tailwind base;
@tailwind components;

:root {
	--c-primary: 251 221 17;
	--c-secondary: 76 191 75;
	--c-bg: 255 255 255;
	--c-on-bg: 33 33 36;
	--c-discord: 105 118 191;
	--c-reddit: 255 69 0;
	--c-twitter: 0 172 237;
	--c-instagram: 225 48 108;
	--c-telegram: 0 136 204;
	--c-facebook: 59 89 152;

	--sm: 640px;
	--md: 768px;
	--lg: 1024px;
	--xl: 1280px;
	--2xl: '1536px';
}

.container-b {
	width: 1280px;
	max-width: 100%;
	margin: 0 auto;
}

.container-b-small {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

.container-b-smallest {
	width: 768px;
	max-width: 100%;
	margin: 0 auto;
}

.cms a {
	color: rgb(var(--c-secondary));
	font-weight: 700;
}
.cms a:hover {
	text-decoration: underline;
}

@tailwind utilities;
